{% extends 'main/index.html' %}
{% load static navigation %}

{% block content %}
    {# Когда ты наследуешься от главного шаблона, в котором создаешь структуру html и джанго блоков #}
    {# Не надо заново прописывать весь html вместе с head, body и тому подобными тегами #}
    {# Если у тебя есть блок content, то заполняешь только тот контент, который хочешь увидеть на странице в этом блоке #}
    {# Все остальные менюхи подтянутся, с главного шаблона #}
    {# И да, если писать html теги вне блоков, лони не учитываются в текущем шаблоне #}
    {#  #}
    <div class="row row-cols-auto">
      {% for post in object_list%}
        {# Когда ты пишешь иф в шаблоне на проверку опубликована ли статься #}
        {# Ты проходишься по всем всем записям из базы данных, которые вернулись в object_list #}
        {# А если записей будет 1000, или 1000 и все опубликованы, это сильно замедлит рендеринг страницы #}
        {# Такую логику лучше выносить на запросах в базу #}
        {# Тут обрати внимание как можно подправить queryset, чтобы он сразу получал только опубликованные записи #}
        {# https://docs.djangoproject.com/en/4.0/topics/class-based-views/generic-display/#viewing-subsets-of-objects #}
        {% if post.is_published == True %}
          <div class="col m-5 border rounded-3">
            <h2>{{ post.name }}</h2>
            <p>{{ post.text|default:'-'|truncatechars:150|truncatewords:5 }}</p>
            {{ post.author }}
            <i>{{ post.created_at }}</i>
            <br>
          </div>
        {% endif %}
      {% endfor %}
    </div>
{% endblock %}
