{% extends 'core/index.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}



<h1>Enter new password twice</h1>
<form method="POST">
  {% csrf_token %}
    <input id="newpass1" type="password" placeholder="Enter new password">
    <br>
    <input id="newpass2" type="password" placeholder="One more time">
    <br>
  <input type="submit" value="Confirm password change">
  {% if "newpass1" == "newpass2" %}

  {% endif %}

</form>
<br>
 <a href="{% url 'admin:users_list' %}" class="btn btn-primary">Back to users list</a>

{% endblock %}