{# Это наследование шаблона #}
{# В главном шаблоне (index.html) задается структура блоков #}
<!-- А в наследуемых шаблонах ты можешь изменять отображение контента блока -->
{% extends 'core/index.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}



<h3>Enter new password twice</h3>
  {{ form.errors }}
  <form method="POST">
  {% csrf_token %}
  <!-- Аттрибут name джанго ожидает увидеть в запросе, поэтому его надо прописать в инпуте -->
  <!-- По нему джанго понимает какое поле как валидировать -->
    <div class="row">
      <div class="col-md-6">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label" for="id_new_password">Enter new password</label>
                        <input id="id_new_password" class="form-control" type="password" name="newpass1"
                    placeholder="Enter new password">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label" for="id_new_password">Confirm new password</label>
                        <input id="id_new_password2" class="form-control" type="password" name="newpass2"
                    placeholder="Confirm new password">
                </div>
            </div>
        </div>
    </div>
  <input type="submit" class="btn btn-primary" value="Confirm password change">
    <a href="{% url 'admin:users_list' %}" class="btn btn-primary">Back to users list</a>
  {% if "newpass1" == "newpass2" %}
    {# иф в шаблоне отвечает только за отображение какого-либо элемента #}
    {# Все валидации формы надо делать в forms.py #}
  {% endif %}

</form>


{% endblock %}